*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.container{
    width:100%;
    height: 800px;
    /* background-color: black; */
    background-image: linear-gradient(rgb(0, 0, 0), rgb(219, 219, 219));
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}
.box{
    position: relative;
    /* background-color:white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    width: 400px;
    height: 250px;
    border-radius:25px ;
    border: 1px solid black;
    background-color: white;
    /* backdrop-filter:blur(10px); */

}

.label1{
    position: absolute;
    top: 45px;
    right: 250px;
    color: black;
    background-color: white;
    width: 80px;
    height: 25px;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 25px;
    font-size: 18px;
}

#password{
    background-color:transparent;
    width: 80%;
    height: 45px;
    margin-top: 30px;
    border: 1px solid black;
    outline: none;
    border-radius: 45px;
    text-align: center;
    font-size: 28px;
}

.submit{
    margin-bottom: 30px;
    width: 80%;
    height: 40px;
    border: 1px solid black;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;

}
.submit:hover{
    background-color:black;
    width:83%;

    color: white;
}
.clue{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: black;
}

.im1 img {
    width: 200px;
}
.im2 img {
    width: 150px;
}
.im3 img {
    width: 200px;
}
.img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
}



